body{
	font-family: 'helvetica', 'arial', sans-serif;
}

.left{
	background-color: darksalmon;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
}

.interface{
	text-align: center;
}

.right{
	background-color: antiquewhite;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
}

.ground{
	background: url('../img/rocket_ground.png') no-repeat center center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px;
}

.rocket{
	position: absolute;
	left: 50%;
	bottom: -375px;
	width: 512px;
	height: 512px;
	margin-left: -75px;
	background: url('../img/rocket_project.png') no-repeat 0 0;
	background-size: 150px 150px;
	transition: bottom 10000ms;
}

body.body-state1 .rocket{
	transition: none;
}

body.body-state3 .rocket,
body.body-state4 .rocket{
	bottom: 1000px;

}

.state1,
.state2,
.state3,
.state4, 
.state5{
	display: none;
}

body.body-state1 .state1{display: block;}
body.body-state2 .state2{display: block;}
body.body-state3 .state3{display: block;}
body.body-state4 .state4{display: block;}
body.body-state5 .state5{display: block;}

a {

}

a.button{
	display: inline-block;
	background-color: antiquewhite;
	color: black;
	padding: 20px 40px;
	text-decoration: none;
	border-radius: 10px;
	text-transform: uppercase;


}